<div ng-include="'view/base/cabecalho.html'"></div>

<div class="container">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">

                <div class="panel-body">
                    <h4>
                        <strong>Adicionar membro</strong>
                    </h4>
                    <hr>
                    <div ng-show="exibir">
                        <alerta tipo="{{msg.tipo}}" titulo="{{msg.titulo}}" messagem="{{msg.texto}}"></alerta>
                    </div>
                    <form name="membroForm">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input type="text" id="nome" class="form-control" ng-model="membro.nome" ng-required="true">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>CPF</label>
                                    <input type="text" class="form-control" ng-model="membro.cpf" ng-blur="validaCPF()" mask="999.999.999-99" clean="true" ng-required="true">
                                    <alerta-texto ng-show="cpfInvalido">Cpf invalido!</alerta-texto>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="text" id="email" class="form-control" ng-model="membro.email" ng-required="true">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Sexo</label>
                                    <select class="form-control" ng-model="membro.sexo" ng-required="true">
                                        >
                                        <option value="">Selecione</option>
                                        <option>Feminino</option>
                                        <option>Masculino</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="senha">Senha</label>
                                    <input type="password" id="senha1" name="senha1" class="form-control" ng-minlength="8" ng-maxlength="8" ng-model="senha1"
                                        ng-required="true">
                                    <alerta-texto ng-show="membroForm.senha1.$error.minlength || membroForm.senha1.$error.maxlength">A senha deve ter 8 digitos!</alerta-texto>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="senha2">Repita a senha</label>
                                    <input type="password" id="senha2" class="form-control" ng-minlength="8" ng-maxlength="8" ng-model="senha2" ng-required="true">
                                    <alerta-texto ng-show="validaSenha()">A senha não coincidem!</alerta-texto>

                                </div>
                            </div>


                            <div class="col-md-4">
                                <br/>
                                <div class="loader" ng-show="estaCarregando"></div>
                                <button type="submit" class="btn btn-primary btn-block" ng-disabled="membroForm.$invalid" ng-show="!estaCarregando" ng-click="salvaAtualiza()">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div ng-show="MembrosCadastrados.length>0">
        <h3>Membros cadastrados</h3>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">E-mail</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="membro in MembrosCadastrados">
                        <td>{{membro.nome}}</td>
                        <td>{{membro.cpf}}</td>
                        <td>{{membro.sexo}}</td>
                        <td>{{membro.email}}</td>
                        <td class="col-md-1">
                            <spam class="glyphicon glyphicon-pencil btn btn-primary btn-sm" ng-click="editar(membro)"></spam>
                            <spam class="glyphicon glyphicon-remove btn btn-danger btn-sm" ng-click="remover(membro.id)"></spam>

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div ng-include="'view/base/rodape.html'"></div>