<div class="container">
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/dash/home">Gerenciador de contas</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li> 
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Configurações
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/membros">Membros</a></li>
                <li><a href="/locais">Locais</a></li>
                <li><a href="/orcamentos">Orçamentos</a></li>
            </ul>  
          </li> 
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contas
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/contas">Adicionar conta</a></li>
            <li><a href="/historico">Historico de contas</a></li>
          </ul>  
        </li> 
   
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Relatorios
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/relatorios">Relatorios</a></li>
            <li><a href="/graficos">Graficos</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sair"><span class="glyphicon glyphicon-chevron-right" style="color: red;"></span> Sair</a></li>
      </ul>
    </div>
  </nav>	
</div>