<div class="container">
    <div class="titleLogin">
        <h2>Gerenciador de contas</h2>
        <hr>
        <h5>Controle de gasto unificado</h5>
    </div>

    <div class="row ">
        <div class="col-md-4 col-md-offset-4  boxLogin">
            <h1 class="textLogin">Login</h1>
            <hr>
            <!-- Main Form -->
            <div class="login-form-1">
                <form name="loginForm">
                    <div class="alerta">
                        {{user.msg}}
                    </div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email" class="form-control" name="email" placeholder="e-mail" ng-model="user.email" ng-required="true">
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha</label>
                                <input type="password" class="form-control" name="senha" placeholder="Senha" ng-model="user.senha" ng-required="true" ng-minlength="8">
                            </div>
                        </div>
                        <div class="loader" ng-show="estaCarregando"></div>
                        <button type="button" class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid" ng-show="!estaCarregando"  ng-click="logar()">Logar</button>
                    </div>
                </form>
            </div>
            <!-- end:Main Form -->
        </div>
    </div>
</div>
</div>

<div ng-include="'view/base/rodape.html'"></div>